
        * {
            margin-left: 150px;
            margin-right: 150px;
        }
        div > h3{
            text-align: center;
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        body{
            background-color: rgba(38, 128, 230, 0.603);
            text-align: center;
        }
        fieldset{
            background-color: rgba(243, 243, 243, 0.466);
            
           
        }
           
    
        input {
            width: 300px;
            border-style: inset;
            border-color: white;
        }
        textarea{
            width: 300px;
            height: 50px;
            border-style: inset;
            border-color: white;
            resize: none;
        }
        button{
            background-color: grey ;
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            border-style: inset;
            border-color: white;
            height: 25px;
            width: 60px;
        }
    